.commission-income {
  font-size: 16px;
  color: $black;
  .commission-main {
    .commission-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height:100%;
      font-weight: 600;
      font-size: 18px;
      background: $white;
      .title {
        display: flex;
        align-items: center;
      }
      .total-icon {
        margin-right: 8px;
        color: $main;
      }
      .count {
        color: $main;
      }
      .question-icon {
        color: $gray;
        cursor: pointer;
        margin-left: 6px;
      }
    }
    .commission-info {
      padding: 14px 18px;
      height:100%;
      background: $white;
      &__title {
        padding-bottom: 10px;
        font-weight: 600;
      }
      &__content {
        padding: 14px;
        background: #cee3ff;
      }
      &__link {
        text-align: right;
        font-weight: 600;
        color: $main;
        font-size: 14px;
        cursor: pointer;
      }
      .link {
        // margin-left: 20px;
        display: inline-block;
        color: $main;
        cursor: pointer;
      }
    }
  }
  .commission-question {
    background: $white;
    &__title {
      padding: 14px 0 0 10px;
      font-weight: 600;
      border-left: 14px solid $main;
    }
    .question-item {
      margin-bottom: 14px; 
    }
  }
  @media screen and (max-width: 540px) {
    font-size: 14px;
    .row {
      margin: 0;
      background: $white;
    }
    .commission-main {
      .commission-item {
        font-size: 16px;
      }
      .commission-info {
        padding: 14px 16px;
      }
    }
    .commission-total {
      background: $white;
      padding: 0;
      margin: 16px 0;
    }
    .commission-info-wrap {
      padding: 16px 0 0 0;
      background: #f5f8ff;
    }
    .commission-balance {
      border-right: 1px solid $main;
    }
    .commission-question {
      background: transparent;
      &__title {
        padding: 0 0 0 16px;
        border: 0;
      }
    }
  }
}