<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <springProperty scope="context" name="app_name" source="spring.application.name"/>
    <appender name="consoleApp" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>ts=%d{yyyy-MM-dd HH:mm:ss.SSS}  app=${app_name} th=[%thread] lv=%-5level class=%logger{5} msg=%msg%n</pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender>

    <springProfile name="dev">
        <root level="info">
            <appender-ref ref="consoleApp"/>
        </root>
    </springProfile>
    <springProfile name="test">
        <root level="INFO">
            <appender-ref ref="consoleApp"/>
        </root>
    </springProfile>
    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="consoleApp"/>
        </root>
    </springProfile>
</configuration>