// base color
$main:#5882ED;
$black:#000000;
$baseFont: #333333;
$baseBg: #F2F4F8;
$second: #96BF47;
$link: #2E9CC3;
$white: #FFFFFF;
$gray: #888888;
$border: #DDDDDD;
$warn: #EB5E00;
$orange: #FD5624;
$text: #484848;